body {
	background-color: #BF6F30;
	color: black;
	font-family: Georgia, "Times New Roman", sans-serif;
}

#titlediv{
	color: black;
	font-size: 24px;
	border-bottom:  3px solid black;
}

.question{
	border-bottom:  3px solid black;
}

.header{
	color: black;
	font-weight: 600;
	font-size: 16px;
}

.answer{
	margin-left: 50px;
}

a{
	text-decoration: none;
	font-weight: 600;
	color: black;
}