body {
	background-color: #00792D;
	color: black;
	font-family: Georgia, "Times New Roman", sans-serif;
	background-image: url('http://www.lathamcity.com/wheresitmade/greenbg.png');
	background-repeat: repeat;
	margin: 0px;
}

#titlediv{
	color: black;
	font-size: 24px;
	border-bottom:  3px solid black;
}

.question{
	border-bottom:  3px solid black;
}

.header{
	color: black;
	font-weight: 600;
	font-size: 16px;
}

.answer{
	padding-left: 50px;
}

a{
	text-decoration: none;
	font-weight: 600;
	color: black;
}

.question, #titlediv{
	padding: 15px;
}

.container{
	background-color: #C3D690;
	background-color: rgba(255, 255, 255, .5);
}