body {
	background-color: #FF9540;
	color: black;
	font-family: Georgia, "Times New Roman", sans-serif;
	margin: 0px;
}

.content{
	color: black;
	padding: 15px;
}

#title{
	width: 100%;
	font-size: 2em;
	text-align: center;
}

#in_header{
	min-width:700px; 
	width: auto !important; 
	width: 700px;
	padding: 5px;
	position: relative;
	height: 20px;
}

#form_itemsearch{
	position: absolute;
	top: 0;
	left: 0;
}

#form_sort{
	position: absolute;
	top: 0;
	right: 0;
}

#center{
	padding: 20px;
	position: relative;
}

#center_table{
	border-bottom: solid 6px black;
	width: 100%;
	border-collapse: collapse;
	min-width: 640px;
}

#center_table tr:not(#center_header) td{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 1px;
	padding-right: 1px;
}

#center_header td{
	border-bottom: solid 2px black;
	text-align: center;
	font-size: 18px;
}

#newitem_div{
	margin-top: 40px;
	margin-left: 15px;
	padding: 15px;
	border-radius: 10px;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	background-color: #BF6F30;
	color: black;
	min-width:800px;
	width: 50%;
}

#formprompt{
	width: 100%;
	font-size: 24px;
}

#newitem{
	height: 100%;
	width: 100%;
}

#newitem_table{
	width: 100%;
	top: 20px;
	left: 0;
	font-size: 20px;
}

#newitem_table td:not(#bigtd){
	width: 70%;
}

#bigtd{
	width: 30%;
}

#new_submit{
	vertical-align: middle;
	margin-left: 30%;
	font-size: 24px;
}

#foot{
	clear: both;
}

.col1, .col2{
	width: 48%;
}

.new_entry{
	font-size: 20px;
	float: right;
}

input[type='submit']{
	border-radius: 10px;
	background-color: #FFB173;
	border-color:  #FFB173;
}