body {
	background-color: #00792D;
	color: black;
	font-family: Georgia, "Times New Roman", sans-serif;
	background-image: url('http://www.lathamcity.com/wheresitmade/greenbg.png');
	background-repeat: repeat;
	margin: 0px;
}

.content{
	color: black;
	padding: 15px;
	background-color: rgba(255, 255, 255, .5);
	border-bottom-right-radius: 10px 50px;
	border-bottom-left-radius: 10px 50px;
	-moz-border-radius-bottomright: 10px 50px;
	-moz-border-radius-bottomleft: 10px 50px;
	-moz-box-shadow: 0 0 20px 20px #333232;
	-webkit-box-shadow: 0 0 20px 20px #333232;
	box-shadow: 0 0 20px 20px #333232;
}

#title{
	width: 100%;
	font-size: 2em;
	text-align: center;
}

#in_header{
	min-width:700px; 
	width: auto !important; 
	width: 700px;
	padding: 5px;
	position: relative;
	height: 20px;
}

#form_itemsearch{
	position: absolute;
	top: 0;
	left: 0;
}

#form_sort{
	position: absolute;
	top: 0;
	right: 0;
}

#center{
	padding: 20px;
	position: relative;
}

#center_table{
	border-bottom: solid 6px black;
	width: 100%;
	border-collapse: collapse;
	min-width: 640px;
}

#center_table tr:not(#center_header) td{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 6px;
	padding-right: 6px;
}

#center_header td{
	border-bottom: solid 2px black;
	text-align: center;
	font-size: 18px;
}

#newitem_div{
	margin-top: 40px;
	margin-left: 15px;
	padding: 15px;
	border-radius: 10px;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	background-color: rgba(255, 255, 255, .5);
	color: black;
	min-width:800px;
	width: 50%;
}

#formprompt{
	width: 100%;
	font-size: 24px;
}

#newitem{
	height: 100%;
	width: 100%;
}

#newitem_table{
	width: 100%;
	top: 20px;
	left: 0;
	font-size: 20px;
}

#newitem_table td:not(#bigtd){
	width: 70%;
}

#bigtd{
	width: 30%;
}

#new_submit{
	vertical-align: middle;
	margin-left: 30%;
	font-size: 24px;
}

#foot{
	clear: both;
}

.col1, .col2{
	width: 48%;
}

.new_entry{
	font-size: 20px;
	float: right;
}

input[type='submit']{
	border-radius: 10px;
	background-color: #3AA6D0;
	border-color:  #3AA6D0;
	font: bold;
	font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}