body {
	background-color: #BF6F30;
	color: black;
	background: url('http://www.lathamcity.com/wheresitmade/wim.jpg') no-repeat left top fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#picture{
	position: relative;
	width: 470px;
	height: 299px;
	margin-left: auto;
	margin-right: auto;
}

#formDiv{
	position: relative;
}

#search{
	padding-top: 10px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

#prompt{
	padding-top: 6px;
	font-size: 24px;
	float: left;
}

input[type="text"]{
	font-size: 24px;
	float: right;
}

#buttonRow{
	text-align: center;
}

input[type="submit"]{
	font-size: 16px;
}

#links{
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: center;
	width: 100%;
}

button{
	border-radius: 5px;
	width: 90px;
	text-align: center;
	background-color: #FFB173;
	border-color:  #FFB173;
}
	
input[type='submit']{
	border-radius: 20px;
	width: 150px;
	text-align: center;
	background-color: #FFB173;
	border-color:  #FFB173;
	font-size: 24px;
}